.main--image
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden
  pointer-events: none
  z-index: -1
  max-height: 600px
  &__container
    position: absolute
    z-index: 0
    top: 0
    left: 0
    width: 100%
    height: 100%
    visibility: visible
    & .img
      background-position: 67.22% 47.40%
      background-image: url("../img/main-photo.jpg")
      background-color: #C5C4C0
      image-rendering: auto
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-repeat: no-repeat
      background-size: cover
  &__overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    background: rgba(0,0,0,0.5)
.header
  padding: 1.25rem 0 0
  height: 600px
  & .header__area
    position: fixed
    left: 50%
    transform: translateX(-50%)
    width: 100%
    top: 0
    z-index: 99999
    transition: all .3s cubic-bezier(.21,.67,.58,1)
    &.scrolled
      background: #1b1b1c
  & .header__area-logo
    flex-basis: 12.5%
    max-width: 12.5%
    flex-shrink: 0
    flex-grow: 1
    min-height: 40px
    display: flex
    padding: 0 .9375rem
    margin: 0
  & .header__area-menu
    flex-basis: 79.16666667%
    max-width: 79.16666667%
    flex-shrink: 0
    flex-grow: 1
    min-height: 40px
    display: flex
    padding: 0 .9375rem
    margin: 0
    & .header--nav
      &_list
        line-height: 1.5
        display: flex
        flex-flow: row wrap
        list-style: none
        font-size: 1rem
        flex-wrap: nowrap
        font-weight: 400
        &-item
          flex-shrink: 0
          position: relative
          & a
            display: inline-flex
            align-items: center
            padding: .3125rem .75rem
            position: relative
            text-transform: uppercase
            color: #ffffff
            transition: opacity .3s ease
            opacity: .8
            &:hover
              opacity: 1
          & .dropdown--menu
            display: none
  & .header__area-social
    flex-basis: 8.33333333%
    max-width: 8.33333333%
    flex-shrink: 0
    flex-grow: 1
    width: 100%
    min-height: 40px
    display: flex
    padding: 0 .9375rem
    & .social--wrap__item
      margin: .25em
      position: relative
      width: 40px
      height: 40px
      &:after
        content: ""
        display: block
        box-sizing: border-box
        position: absolute
        width: 40px
        height: 40px
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        border-radius: 50%
        transition: all .3s cubic-bezier(.21,.67,.58,1)
        border: 1px solid #ffffff
  &__banner
    padding: 1.875rem 0 5.625rem
    display: flex
    flex-flow: column
    justify-content: center
    flex-shrink: 0
    flex-grow: 1
    &--title
      font-family: 'Merriweather', serif
      padding-top: .625rem
      padding-bottom: .9375rem
      font-weight: 700
      font-size: 1.2rem
      line-height: 1.2
      color: #ffffff
    &--subtitle
      padding-top: .625rem
      padding-bottom: .625rem
      font-weight: 400
      font-size: 14px
      line-height: 1.37
      color: #ffffff
      font-family: 'Merriweather', serif
