footer.footer
  .box
    .footer__body
      .footer__body-logo
        img(src="img/footer-logo.png", alt="Logo")
      .footer__body-social
        a(href="" class="footer--social__item" title="Facebook" target="_blank")
        a(href="" class="footer--social__item" title="Instagram" target="_blank")