.main--image
    .main--image__container
        .img
    .main--image__overlay
header.header.col.d-flex.w-100
  .header__area
    .box
      .header__area-list.d-flex.justify-stretch.ai-stretch.w-100
        .header__area-logo.header-list-item.w-100
          a(href="/")
            img(src="img/logo.png", alt="Logo")
        .header__area-menu.header-list-item.w-100
          nav.header--nav.w-100.d-flex.justify-center
            ul(class="header--nav_list")
              li(class="header--nav_list-item d-flex ai-center")
                a(href="/") О нас
              li(class="header--nav_list-item folder--item d-flex ai-center")
                a(href="/") Кто мы
                ul(class="dropdown--menu")
                  li(class="dropdown--menu__item")
                    a(href="/") MG Group
                  li(class="dropdown--menu__item")
                    a(href="/") Festival Event Agency
                  li(class="dropdown--menu__item")
                    a(href="/") Event for Women
                  li(class="dropdown--menu__item")
                    a(href="/") Luxury Travel Ukraine
                  li(class="dropdown--menu__item")
                    a(href="/") Impression de Luxe
                  li(class="dropdown--menu__item")
                    a(href="/") Nescens
                  li(class="dropdown--menu__item")
                    a(href="/") Force888
                  li(class="dropdown--menu__item")
                    a(href="/") RedCats Agency
                  li(class="dropdown--menu__item")
                    a(href="/") Luxury Property
              li(class="header--nav_list-item d-flex ai-center")
                a(href="/") Встуить в клуб
              li(class="header--nav_list-item d-flex ai-center")
                a(href="/") Контакты
        .header__area-social.header-list-item
          .social--wrap
            a(href="" class="social--wrap__item" title="Facebook" target="_blank")
            a(href="" class="social--wrap__item" title="Instagram" target="_blank")
  .header__banner
    .box
      .header__banner--title
        h1 LUXURY GROUP UKRAINE
      .header__banner--subtitle
        h2 Группа компаний по предоставлению и организации услуг класса Luxe