extends blocks/_layout
append content
  main.main
    section(class="main--about")
      .box
        h4(class="section--title") ABOUT US
        .main--about_content
          p Luxury Group Ukraine - это группа компаний по предоставлению и организации услуг класса люкс. Компания, которая объединяет в себе лучших представителей и экспертов бизнеса в различных сферах. Каждая компания в составе Luxury Group Ukraine специализируется на предоставлении услуг для украинских и зарубежных клиентов.
          p В состав группы компаний Luxury Group Ukraine входит:
          p - Адвокатское объединение "MG Group"
          p - Агентство по организации эксклюзивных luxury-мероприятий "Festival"
          p - Закрытый женский клуб Event for Women (культурно-образовательный проект для женщин-лидеров Украины)
          p - Эксклюзивные возможности и Vip-консьерж сервис в сфере туризма по всему миру "Luxury Travel Ukraine"
          p - Медиа-портал "Force8888"
          p - Креативное агентство по создание сайтов и digital решений для бизнеса "RedCats Agency"
          p - Официальный дилер швейцарской космоцевтической линии "Nescens"
          p - Официальный представитель французской компании "Impression de Luxe" - эксклюзивный производитель престижных коммуникационных продуктов: от роскошных металлических визиток и подарочных сертификатов до банковских карт из драгоценных металлов.
          br
          p Цель Luxury Group Ukraine создать все для того, что бы каждый клиент, гость, партнер чувствовал свою уникальность и ценность.
          p Luxury Group Ukraine - создает высокие стандарты качества и профессионализма во всех сферах lifestyle!
          img(src="img/groups.jpg", alt="Groups")
    section(class="main--include")
      .box
        h4(class="include--title") Luxury Group Ukraine
        span(class="include--subtitle") Компании, которые входят в состав LGU
        .include--list
          .include--list__item
            img(src="img/include-img.jpg", alt="MG Group")
            span(class="include--item__name") MG Group
            span(class="include--item__about") Адвокатское объединение
          .include--list__item
            img(src="img/include-img.jpg", alt="Festival Event Agency")
            span(class="include--item__name") Festival Event Agency
            span(class="include--item__about") Агентство по организации эксклюзивных luxury-мероприятий
          .include--list__item
            img(src="img/include-img.jpg", alt="Event For Women")
            span(class="include--item__name") Event For Women
            span(class="include--item__about") Закрытый женский клуб Event for Women. Культурно-образовательный проект для женщин-лидеров Украины
          .include--list__item
            img(src="img/include-img.jpg", alt="Force 8888")
            span(class="include--item__name") Force 8888
            span(class="include--item__about") Медиа-портал
          .include--list__item
            img(src="img/include-img.jpg", alt="Luxury Travel Ukraine")
            span(class="include--item__name") Luxury Travel Ukraine
            span(class="include--item__about") Эксклюзивные возможности и Vip-консьерж сервис в сфере туризма по всему миру
          .include--list__item
            img(src="img/include-img.jpg", alt="Impression de Luxe")
            span(class="include--item__name") Impression de Luxe
            span(class="include--item__about") Эксклюзивный производитель престижных коммуникационных продуктов: от роскошных металлических визиток и подарочных сертификатов до банковских карт из драгоценных металлов.
          .include--list__item
            img(src="img/include-img.jpg", alt="Nescens")
            span(class="include--item__name") Nescens
            span(class="include--item__about") Официальный дилер швейцарской космоцевтической линии
          .include--list__item
            img(src="img/include-img.jpg", alt="Red Cats Agency")
            span(class="include--item__name") Red Cats Agency
            span(class="include--item__about") Креативное агентство: создание сайтов и digital решений для бизнеса
          .include--list__item
            img(src="img/include-img.jpg", alt="Luxury Property")
            span(class="include--item__name") Luxury Property
            span(class="include--item__about") Элитная недвижимость в Украине и заграницей
    section(class="main--company-item")
      .box
        h4(class="section--title") MG Group
        .company--content
          .company--content__media
            img(src="img/company-img.jpg", alt="MG Group")
          .company--content__info
            span(class="info--title") Адвокатское объединение
            span(class="info--subtitle") MG group– адвокатское объединение, которое специализируется на:
            ul(class="info--list")
              li Корпоративном и коммерческом праве;
              li Налогообложении и таможенном праве;
              li Банковском и финансовом праве;
              li Уголовно-правовой защите;
              li Трудовом праве;
              li Разрешении споров;
              li Праве ЕС;
              li Исполнении судебных решений;
              li Недвижимости и строительстве;
              li Отношении с органами государственной власти.<br> Наши эксперты организуют процессы бизнеса, а также выстроят структуру юридических споров стратегически грамотно и быстро, что позволит владельцам бизнеса и частным клиентам быть абсолютно уверенными в результате и в правомерном решении, не тратя лишние ресурсы и энергию на непрофессионализм и нерациональные решения.<br>MG group – Ваш надежный партнер и защита.
            .info--links
              .info--links_box
                a(href="/" class="btn") Перейти на сайт
              .info--links_box
                p Facebook:
                  a(href="/") MG-group
                p Instagram:
                  a(href="/") mggroup.vip
    section(class="main--partners")
      .box
        h4(class="partners--title") OUR PARTNERS
        span(class="include--subtitle") Нам можно доверять
    section(class="main--contacts")
      .box
        .contacts--box
          span(class="contacts--box__title") Контакты
          .contacts--box__elem
            p
              b Адрес:
              | Киев, ул. Игоревская, 11б (БЦ "Игоревский"), 4 этаж
              b (главный офис)
          .contacts--box__elem
            p
              b Телефон:
              | +38 (050) 938 69 15
            p
              b Телефон:
              | +38 (093) 335 95 95
            p Telegram, Viber, WhatsApp
          .contacts--box__elem
          p
            b Email:
            | luxurygroupukraine@gmail.com
          .contacts--box__social
            a(href="" title='facebook' target="_blank")
            a(href="" title='instagram' target="_blank")
        .contacts--box
          form(action="")
            .form--field
              label(for="name" class="form--field__title") Имя
              input(type="text" name="name" autocomplete="on" required="")
            .form--field.required
              label(for="email" class="form--field__title") Email *
              input(type="email" name="email" autocomplete="on" required)
            .form--field
              label(for="message" class="form--field__title") Сообщение
              textarea(name="message") Отправить

